{% extends "layouts/base.html" %}
{% block content %}

<h3 class="text-2xl font-semibold mb-4">Edit Mata Kuliah</h3>

<form method="POST" class="space-y-4">

    <div>
        <label class="form-label">Kode Mata Kuliah</label>
        <input type="text" name="kode_matakuliah" class="form-control"
               value="{{ matakuliah.kode_matakuliah }}" required>
    </div>

    <div>
        <label class="form-label">Nama Mata Kuliah</label>
        <input type="text" name="nama_matakuliah" class="form-control"
               value="{{ matakuliah.nama_matakuliah }}" required>
    </div>

    <div>
        <label class="form-label">SKS</label>
        <input type="text" name="sks" class="form-control"
               value="{{ matakuliah.sks }}" required>
    </div>

    <div>
        <label class="form-label">Semester</label>
        <input type="text" name="semester" class="form-control"
               value="{{ matakuliah.semester }}">
    </div>

    <button class="btn btn-success">Update</button>
    <a href="{{ url_for('matakuliah.index') }}" class="btn btn-secondary">Kembali</a>

</form>

{% endblock %}
